                                      /*TASK 6*/
.main-block{
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.blue{
  background-color: blue;

}
.red{
  background-color: red;
  top: 100px;
  left: 100px;
}
.yellow{
  background-color: yellow;
  top: 200px;
  left: 200px;
}
.blue, .red, .yellow, .blue1, .red1, .yellow1  {
  position: absolute;
  width: 100px;
  height: 100px;
}
                                        /*TASK7*/
.main-block1 {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 25px;
  border: 1px solid black;
  margin-bottom: 25px;
}
.red1 {
  top: 120px;
  left: 110px;
  background: red;
  z-index: 1;
}
.blue1 {
  background: blue;
  top: 160px;
  left: 160px;
  z-index: 2;
}
.yellow1 {
  background:yellow;
  top: 202px;
  left: 220px;
  z-index: 3;
}
                                          /*TASK8*/
.main-block2 {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house {
  position: absolute;
  top: 150px;
  left: 75px;
  width: 150px;
  height: 150px;
  background: coral;
  z-index: 1;
}
.roof {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
}
.chimney {
  position: absolute;
  top: 90px;
  left: 80px;
  width: 20px;
  height: 60px;
  background: black;
}
.door {
  position: absolute;
  top: 210px;
  left: 120px;
  width: 60px;
  height: 90px;
  background: brown;
  z-index: 2;
}
.window {
  position: absolute;
  top: 150px;
  left: 180px;
  width: 40px;
  height: 40px;
  background: cyan;
  z-index: 2;
}
