body {
    background-color: #282c34;
}
#movie-search__name {
    width: 250px;
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 15px;
    outline: 0;
    font-size: 13px;
    color: #d6d6d6;
    background-color: #282c34;
}
.theme-choose {
    margin-top: 50px;
}
.theme-choose__caption {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.wrapper {
    position: relative;
    min-width: 100%;
}
.sidebar {
    position: fixed;
    min-width: 400px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #fff;
}
.content {
    position: absolute;
    left: 450px;
}
.category {
    margin-top: 15px;
}
.movie-search__submit, .category__popular, .category__latest, .category__top-rated, .theme-choose__light, .theme-choose__dark{
    width: 100px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #fff;
    font-size: 13px;
    outline: 0;
    cursor: pointer;
    background-color: #282c34;
    color: #fff;

}
.movie-gallery {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
.movie-card {
    padding: 15px;
    margin-bottom: 25px;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #fff;
    color: #fff;
}
.movie-card__rate {
    margin-bottom: 24px;
}
.movie-card__poster {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;

}
.movie-card__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.movie-card__description {
    margin-bottom: 10px;
    font-size: 13px;
}
.movie-card__release {
    font-size: 14px;
}
.active {
    background-color: #fff;
    color: #282c34;
}
