.board{
  height: 600px;
  width: 600px;
  margin: 40px auto;
  border: 1px black solid;
}
.board div{
  width: 200px;
  height: 200px;
  float: left;
}
.board div:nth-child(odd){
  background-color: #850000;
}
.board div:nth-child(even){
  background-color: white;
}
.bishop{
  margin-top: 20px;
  margin-left: 57px;

}
.knight{
  margin-top: 25px;
  margin-left: 43px;
}
.rook{
  margin-top: 25px;
  margin-left: 50px;
}
