* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Tahoma, Arial, sans-serif;
}
.wrapper {
	width: 776px;
	margin: 0 auto;
	border: 1px solid #BEBEBE;
}
/*HEADER*/
header {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

}
.text1 {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
}
.text2 {
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.logo {
	width: 244px;
	height: 76px;
	margin-left: 5px;
}
.preferences {
	display: flex;
	align-items: stretch;
	background: url(../img/bg-header.png);
	background-repeat: no-repeat;
	height: 76px;
	width: 533px;
}
.shop-cart  {
	height: 26px;
	padding: 15px 21px 15px 108px;
	text-align: right;
	border-right: 1px dashed #b48d8d;
	line-height: 0.9;
}
.choosing_language {
	position: relative;
	height: 38px;
	padding: 8px 27px 10px 17px;
	margin-right: 18px;
	border-right: 1px dashed #b48d8d;
}
.choosing_language li {
	list-style: none;
}
.english {
	position: absolute;
	width: 26px;
	height: 19px;
	top: 35px;
	left: 18px;
}
.german {
	position: absolute;
	width: 26px;
	height: 19px;
	top: 35px;
	left: 58px;
}
.spanish {
	position: absolute;
	width: 26px;
	height: 19px;
	top: 35px;
	left: 98px;
}
.currencies {
	padding-top: 16px;
	line-height: 1.7;
}
.currencies_select {
	font-size: 10px;
	width: 135px;
	height: 20px;
	box-shadow: inset 1px 1px 1px black;
	border: none;
	font-weight: normal;
	line-height: 14px;
}
label {
	display: block;
}
/*END OF HEADER*/
section {
	display: flex;
}
nav {
	width: 23.7%;
	padding: 22px 0px 10px 63px;
}
nav li {
	padding: 2px 0px 1px 5px;
	border-bottom: 1px dotted #dddddd;
	list-style-image: url(../img/mark-style.png);
	font-size: 14px;
	font-family: 'Myriad Pro';
	color: #1f1f1f;

}
nav a {
	font-size: 14px;
	font-family: 'Myriad Pro';
	color: #1f1f1f;
	text-decoration: none;
}
nav a:hover {
	color: red;
}
.news {
	position: relative;
	height: 158px;
}
.cameras {
	position: absolute;
	width: 225px;
	top: -25px;
	left: -25px;
	z-index: 2;
}
.cheap {
	position: absolute;
	width: 263px;
	top: 30px;
	left: 217px;
}
.spec-edit {
	position: absolute;
	width: 420px;
	height: 50px;
	padding-left: 141px;
	padding-top: 15px;
	top: 91px;
	left: 71px;
	z-index: 1;
	background-image: url(../img/line-arrows.png);
	background-repeat: no-repeat;
}
.spec-edit a {
	display: block;
	color: black;
	font-size: 14px;
	font-family: 'Myriad Pro';
	line-height: 1;
	text-decoration: none;
}
.spec-edit span {
	color: red;
	text-transform: uppercase;
}
aside {
	width: 249px;
}
.browse_caption {
	margin: 0;
	margin-left: 37px;
	padding: 7px 0px 1px 12px;
	background-color: #cbcbcb;
	font-family: 'Myriad Pro';
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #383838;
}
.browse_list {
	margin-top: 12px;
	padding-left: 63px;
}
.browse_list li {
	padding: 4px 0px 4px 5px;
	font-size: 11px;
	font-weight: 300;
	border-bottom: 1px dotted #dddddd;
	list-style-image: url(../img/mark-arrow.png);
}
.browse_list a {
	text-decoration: none;
}
.browse_list a:visited {
	color: #383838;
}
.browse_list a:hover {
	color: red;
}
.guarantee {
	display: block;
	margin-top: 7px;
	margin-left: 37px;
}
/*END OF SIDEBAR*/

/*MAIN*/
.feature-prod {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	position: relative;
	width: 490px;
	height: 476px;
	padding: 31px 16px 24px 16px;
	background-color: #1f1f1f;
}
.feature-head {
	position: absolute;
	top: 8px;
	left: 16px;
	font-family: 'Myriad Pro';
	font-size: 14px;
	color: #fff;
}
.product {
	width: 206px;
	height: 129px;
	padding: 10px 15px 10px 15px;
	border: 3px double black;
	background-color: #fff;e
}
.product5, .product6 {
	position: relative;
	width: 236px;
	height: 148px;
	border: 3px double black;
	background-image: url(../img/bg-product5.jpg);
	background-color: white;
	background-repeat: no-repeat;
}
.product5 {
	background-image: url(../img/bg-product5.jpg);
}
.product7 {
	background-image: url(../img/bg-product6.jpg);
}
.prod-info1, .prod-info2 {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px dashed #cecece;
	font-weight: bold;
}
.prod-info1 {
	padding-bottom: 6px;
}
.prod-info2 {
	padding-bottom: 9px;
}
.prod-name1, .prod-name2, .prod-name3 {
	margin-top: 8px;;
	font-size: 11px;
}
.prod-name1 {
	margin-left: 20px;
}
.prod-name2 {
	margin-left: 12px;
}
.prod-name3 {
	margin-left: 10px;
}
.price {
	display: block;
	margin-top: 30px;
	font-size: 14px;
	color: red;
}
.buttons {
	margin-top: 10px;
}
.button1, .button2, .button3 {
	margin-left: 8px;
	background-color: white;
	background-repeat: no-repeat;
	color: white;
	cursor: pointer;
	font-size: 11px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	outline: 0;
}
.button1, .button3{
	width: 76px;
	height: 19px;
	background-image: url(../img/button1.png);
}
.button2 {
	width: 101px;
	height: 19px;
	background-image: url(../img/button2.png);
}
.button3 {
	position: absolute;
	top: 110px;
	left: 126px;
	background-image: url(../img/button5.jpg);
}
/*FOOTER*/
footer {
	display: flex;
	margin-left: 5px;
	margin-bottom: 1px;
	width: 767px;
	height: 65px;
	background: linear-gradient(#fff, #bebebe)
}
.cards {
	width: 194px;
	padding-top: 16px;
	padding-left: 49px;
	border-right: 1px dashed white;
}
.cards ul {
	display: flex;
	list-style: none;
}
.cards li {
	margin-right: 5px;
}
.info {
	padding-top: 13px;
	padding-left: 53px;
	font-size: 10px;
	color: #000;
	line-height: 1.6;
}
.info ul {
	display: flex;
	list-style: none;
}
.info li {
	padding-right: 8px;
	margin-right: 5px;
	border-right: 1px solid black;
}
.info li a {
	text-decoration: none;
	text-transform: uppercase;
}
.info li:last-child {
	border: none;
}
.info li a:hover {
	text-decoration: underline;
}
.info a:visited {
	color: #000;
}
.info a:active {
	color: #000;
}
