*{
  margin: 0;
  padding: 0;
}
section{
  background-color: red;
  height: 100px;
  box-shadow: 1px 1px 3px black;
}
main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 665px;
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}
.row{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.full{
  height: 200px;
}
.half{
  width: 49.3%;
}
.fourth{
width: 24%;
}
.third{
  width: 74.8%;
}
