.logo{
  height: 80px;
  justify-content: center;
}
.items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(99%/7);
  height: 40px;
  color: white;
}
.row .items1{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}
.row1{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.row .link{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  height: 49.13px;
}
.row .name{
  padding: 0;
}
.name h5{
  font-weight: bold;
}
.nav{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 793px;
}
.img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 180px;
  justify-content: center;
  align-items: center;
}
.row .row3{
  padding: 0;
  padding-bottom: 50px;
}
.row .column3{
  padding-right: 0;
}

.column3 p{
  margin-top: 0px;
}
.column3 h5{
  margin-bottom: 2px;
  font-weight: bold;
}
