body{
  /*background: blue;*/
}
p{
  font-size: 16px;
}
.wrapper{
  text-align: left;
  width: 350px;
}
.header{
  width: 100px;
  color: white;
  background-color: red;
}
.menu{
  width: 300px;
  height: 45px;
  background: #5a00fe;
}
.footer{
  width:300px;
  height: 35px;
  background: yellow;
}
.one{
  width: 45px;
  height: 40px;
  background-color: red;
  margin-bottom: 15px;
}
.two{
  width: 90px;
  height: 40px;
  background-color: orange;
  margin-bottom: 15px;
}
.three{
  width: 140px;
  height: 40px;
  background-color: #4b00fe;
  margin-bottom: 15px;
}
.joy{
  width: 230px;
  height: 85px;
  margin: 15px 0;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fe6c2b;
  font-size: 40px;
}
.zag{
  width: 500px;
  height: 220px;
  padding-left: 8px;
  background-color: #d5d6bd;
}
.zag h1{
  padding-top: 15px;
  color: #46250f;
  font-family: arial;
}
.zag h3{
  color: #7f5528;
}
.zag a{
  color: #426801;
}
