*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 400px;
  height: 550px;
  margin: auto;
  font-family: tahoma;
}
img{
  display: block;
  width: 250px;
  height: 285px;
  margin: auto;

}
.wrapper{
  width: 378px;
  height: 528px;
  margin: 10px 10px 10px 10px;
  border: 1px #5a5a5a solid;
}
h1{
  margin: 10px 0px 20px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}
.credit{
  width: 193px;
  height: 34px;
  margin-top: 3px;
  padding-bottom: 4px;
  border: none;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  background-image:  url(../img/greenblock.png);
}
.price{
  margin: 10px 0px 15px 0px;
  font-size: 31px;
  text-align: center;
}

.buy{
  display: block;
  width: 229px;
  height: 49px;
  margin: auto;
  padding-bottom: 3px;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  text-shadow: -1px 1px 0px black;
  background-image: url(../img/redblock.png)
}
